body{
    height: 100%;
    text-align: center;
}

section {
    background: none;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

h1{
    color: red;
    margin-top: 20px;
}

h2, h3{
    color: white;

}

p{
    color: white;
    text-shadow: black;
}

.footer {
    color: khaki;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fomes{
    color: white;
}

img{
    border-radius: 100%;
}