body {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(239,246,249,1) 0%, rgba(206,239,253,1) 90% );
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

table, th, td {
  height: 52px;
}

.changeButtons {
  margin-top: 35px;
}

.fa-exchange-alt {
  margin-top: 20px;
}

.fa {
  cursor: pointer;
}

.footer {
  bottom: 0;
  text-align: center;
  padding: 10px;
  position: absolute;
  width: 100%;
}

img {
  width: 80px;
  margin-top: 10px;
  margin-right: 30px;
}
