.header {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 356px;
}

.team1 {
  margin-left: 30px;
}

.team2 {
  margin-left: 30px;
}

table, th, td {
  border: 1px solid black;
  width: 150px;
  text-align: center;
  height: 52px;
}

.change {
  margin-left: 30px;
}

.changeInv {
  display: none;
}

input {
  max-width: 200px;
}

p {
  height: 38px;
}

.changeButtons {
  margin-top: 70px;
}

.fa {
  color: black;
  cursor: pointer;
}

.btn-sort {
  text-align: center;
}

.footer {
  bottom: 0;
  text-align: center;
  padding: 10px;
  position: absolute;
  width: 100%;
}
