body {
  background: radial-gradient(circle, rgba(255,212,90,1) 0%, rgba(212,214,186,1) 100%);
  background-size: cover;
  text-align: center;

  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  width: 320px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-container {
  border: 1px solid black;
  width: 430px;
  height: 390px;
}

.div-image {
  background-color: grey;
  width: 430px;
  height: 350px;
}

.div-subtitle {
  background-color: darkgray;
  height: 40px;
  width: 430px;
}

.image {
  max-width: 430px;
  max-height: 350px;
}

.memes{
  background-color: darkcyan;
  justify-content: space-between;
  display: flex;
  height: 105px;
  width: 430px;
}

.card{
  margin: 2px;
  height: 100px;
  width: 100px;
}

.subtitle{
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 13px;
  text-shadow: 2px 2px 2px black;
  word-wrap: break-word;
}

.footer {
  bottom: 0;
  text-align: center;
  padding: 20px;
  position: absolute;
}
