body {
  background: url('../imgs/bgmeme.jpg');
  background-size: cover;
  text-align: center;
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;
}

body .bg {
  opacity: 0.4;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-container {
  border: 1px solid black;
  width: 430px;
  height: 390px;
}

.div-image {
  background-color: grey;
  width: 430px;
  height: 350px;
}

.div-subtitle {
  background-color: darkgray;
  height: 40px;
  width: 430px;
}

.image {
  max-width: 430px;
  max-height: 350px;
}

.digite, .file {
  color: white;
}

.memes{
  background-color: darkcyan;
  height: 105px;
  width: 430px;
}

.card{
  margin: 2px;
  height: 100px;
  width: 100px;
}

.subtitle{
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 13px;
  text-shadow: 2px 2px 2px black;
  word-wrap: break-word;
}

.footer {
  font-weight: bolder;
  bottom: 0;
  text-align: center;
  padding: 20px;
  position: absolute;
}
