*{
    padding: 0;
    margin: 0;
}

#navbar{
    background-image: url(/img/nav_bar.jpg);
    height: 11vh;
}

#square_logo{
    width: 20%;
    height: 60%;
    margin-left: -35px;
}

#music{
    height: 80%;
    opacity: 0.8;
    margin-left: -35px;
    margin-top: 3px;
}

.header{
    grid-area: header;
    background: black;
    position: fixed;
    width: 100%;
    height: 5vh;
}

.nav{
    grid-area: nav;
    background: black;
    position: fixed;
    width: 100%;
    height: 5vh;
    margin-top: 5vh;
}

#main{
    display: grid;
    grid-template-rows: 5vh 5vh 540vh 5vh;
    grid-template-areas: "header" "nav" "aside" "footer";
}

#texto_historia {
    font-family: MyriadPro-Cond,Arial,sans-serif;
    font-size: 25px;
    background-color: blue;
    font-weight: lighter;
    color: white;
    text-align: justify;
    border-style: double;
    margin: 99px 200px 100px 200px;
    opacity: 0.6;
    padding: 10px;
    /* position: absolute; */
}

#cloud {
    font-family: MyriadPro-Cond,Arial,sans-serif;
    font-size: 20px;
    background-color: blue;
    font-weight: lighter;
    color: white;
    text-align: justify;
    border-style: double;
    margin: 200px 100px 100px 800px; 
    opacity: 0.6;
    padding: 10px; 
    position: absolute;
}

#divcloud{
    background-image: url(/img/characters_profile_cloud.png);
    width: 60%;
}

input{
    width:125px;
    height:45px;
    background: black;
    transition:all 1.5s ease;
    margin-top: 10px;
    font-weight: 540;
    font-size: 15px;
    font-family: MyriadPro-Cond,Arial,sans-serif;
    color: white;
    position: absolute;
}

#b1 {
    margin-left: 10px;
}
  
#b2 {
    margin-left: 160px;
}
  
#b3 {
    margin-left: 310px;
}
  
#b4 {
    margin-left: 460px;
}
  
#b5 {
    margin-left: 610px; 
}
  
#b6 {
    margin-left: 760px; 
}

.fade {
    opacity:0.5;
}
  
.fade:hover {
    opacity:1;
    background: black;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

img.foto1{
    margin-top: 40px;
    width: auto;
    height: 84vh;
    margin-left: auto;
    margin-right: auto;
}

#home{
    display: grid;
    grid-template-rows: 90vh;
    background: black;
    scroll-margin-top: 100px;
    width: 100%;
    height: auto;
    /* animation:opac 30s}@keyframes opac{from{opacity:0} to{opacity:1} */
}

#hist{
    display: grid;
    grid-template-rows: 90vh;
    background: black;
    background-image: url(/img/story.jpg);
    scroll-margin-top: 100px;
    /* animation:opac 30s}@keyframes opac{from{opacity:0} to{opacity:1} */
}

#char{
    display: grid;
    grid-template-rows: 90vh;
    background-image: url(/img/bg_characters.jpg);
    scroll-margin-top: 100px;
    /* animation:opac 30s}@keyframes opac{from{opacity:0} to{opacity:1} */
}

img.mech{
    display: grid;
    grid-template-rows: 90vh;
    /* scroll-margin-top: 200px; */
    width: 100%;
    height: auto;
    /* animation:opac 30s}@keyframes opac{from{opacity:0} to{opacity:1} */
}

#media{
    display: grid;
    grid-template-rows: 120vh;
    background-color: black;
    scroll-margin-top: 140px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#trailer{
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

#down{
    display: grid;
    background-color: black;
}

#soon{
    font-family: MyriadPro-Cond,Arial,sans-serif;
    font-size: 25px;
    background-color: blue;
    font-weight: lighter;
    color: white;
    text-align: justify;
    border-style: double;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    padding: 10px;
    margin-bottom: 300px; 
}

.aside{
    grid-area: aside;
    background: black;
    width: 100%;
    height: 100%;
}

.footer{
    grid-area: footer;
    background: darkblue;
    display: none;
}