body {
  background-color: #232323;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: steelblue;
  color: white;
}

.title, .texto, .score {
  text-align: center;
  color: white;
}

.cor {
  border: 1px solid;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 120px;
}

.rgb-color {
  font-size: small;
  text-align: center;
  color: white;
}

.start {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.meio {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.ball {
  border: 1px solid;
  border-radius: 50%;
  height: 60px;
  margin: 10px;
  width: 60px;
}

.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.3); }
